# SkywarnPlus v0.2.2 Configuration File
# Author: Mason Nelson (N5LSN/WRKF394)
# Please edit this file according to your specific requirements.
#
# This config file is structured YAML.  Please be sure to maintain the structure when editing.
# YAML is very picky about indentation.  Use spaces, not tabs.

################################################################################################################################

SKYWARNPLUS:
  # Toggle the entire SkywarnPlus operation.
  # Set to 'True' to activate or 'False' to disable.
  # Example: Enable: true
  Enable: true

################################################################################################################################

Asterisk:
  # List of node numbers for broadcasting alerts. Multiple nodes are specified as a list.
  # Example:
  # Nodes: 
  #   - 1998
  #   - 1999
  Nodes:
    - 1999

################################################################################################################################

Alerting:
  # Specify the county codes for which you want to pull weather data.
  # Find your county codes at https://alerts.weather.gov/.
  # Make sure to use county codes ONLY, NOT zone codes, otherwise you might miss out on alerts.
  # Example:
  # CountyCodes:
  #   - ARC121
  #   - ARC021
  CountyCodes:
    - ARC125
  # Enable instant voice announcement when new weather alerts are issued.
  # Set to 'True' for enabling or 'False' for disabling.
  # Example: SayAlert: true
  SayAlert: true
  # Enable instant voice announcement when weather alerts are cleared.
  # Set to 'True' for enabling or 'False' for disabling.
  # Example: SayAllClear: true
  SayAllClear: true
  # Limit the maximum number of alerts to process in case of multiple alerts.
  # SkywarnPlus fetches all alerts, orders them by severity, and processes only the 'n' most severe alerts, where 'n' is the MaxAlerts value.
  # MaxAlerts:
  # Specify an alternative path to the directory where sound files are located.
  # Default is SkywarnPlus/SOUNDS.
  # SoundsPath:

################################################################################################################################

Blocking:
  # List of globally blocked events. These alerts are ignored across the entire SkywarnPlus operation.
  # Use a case-sensitive list. Wildcards can be used.
  # Example:
  # GlobalBlockedEvents: 
  #   - Flood Watch
  #   - '*Statement'
  #   - '*Advisory'
  GlobalBlockedEvents:
  # List of events blocked from being announced when received. These alerts will still be added to the tail message.
  # Use a case-sensitive list.
  SayAlertBlockedEvents:
  # List of events blocked from being added to the tail message. These alerts will still be announced when received.
  # Use a case-sensitive list.
  TailmessageBlockedEvents:

################################################################################################################################

Tailmessage:
  # Configuration for the tail message functionality. Requires initial setup in RPT.CONF.
  # Set 'Enable' to 'True' for enabling or 'False' for disabling.
  Enable: false
  # Specify an alternative path and filename for saving the tail message.
  # Default is SkywarnPlus/SOUNDS/wx-tail.wav.
  # TailmessagePath:

################################################################################################################################

CourtesyTones:
  # Configuration for the Courtesy Tones. Requires initial setup in RPT.CONF.
  # Set 'Enable' to 'True' for enabling or 'False' for disabling.
  Enable: false
  # Specify an alternative directory where tone files are located.
  # Default is SkywarnPlus/SOUNDS/TONES.
  # ToneDir:
  # Define the sound files for various types of courtesy tones.
  Tones:
    # Audio file to feed Asterisk as ct1 in "normal" mode
    CT1: Boop.ulaw
    # Audio file to feed Asterisk as ct2 in "normal" mode
    CT2: Beep.ulaw
    # Audio file to feed Asterisk as ct1 AND ct2 in "wx" mode
    WXCT: Stardust.ulaw
    # The file rpt.conf is looking for as ct1
    RptCT1: CT1.ulaw
    # The file rpt.conf is looking for as ct2
    RptCT2: CT2.ulaw
  # Define the alerts that trigger the weather courtesy tone.
  # Use a case-sensitive list. One alert per line.
  CTAlerts:
    - Hurricane Force Wind Warning
    - Severe Thunderstorm Warning
    - Tropical Storm Warning
    - Coastal Flood Warning
    - Winter Storm Warning
    - Thunderstorm Warning
    - Extreme Wind Warning
    - Storm Surge Warning
    - Dust Storm Warning
    - Avalanche Warning
    - Ice Storm Warning
    - Hurricane Warning
    - Blizzard Warning
    - Tornado Warning
    - Tornado Watch

################################################################################################################################

IDChange:
  # Configuration for Automatic ID Changing. Requires initial setup in RPT.CONF and manual creation of audio files.
  Enable: false
  # Specify an alternative directory where ID files are located.
  # Default is SkywarnPlus/SOUNDS/ID.
  # IDDir:
  # Define the sound files for normal ID and weather ID.
  IDs:
    # Audio file to feed Asterisk as ID in "normal" mode
    NormalID: NORMALID.ulaw
    # Audio file to feed Asterisk as ID in "wx" mode
    WXID: WXID.ulaw
    # Audio file rpt.conf is looking for as ID
    RptID: RPTID.ulaw
  # Define the alerts that trigger the weather ID.
  # Use a case-sensitive list. One alert per line.
  IDAlerts:
    - Hurricane Force Wind Warning
    - Severe Thunderstorm Warning
    - Tropical Storm Warning
    - Coastal Flood Warning
    - Winter Storm Warning
    - Thunderstorm Warning
    - Extreme Wind Warning
    - Storm Surge Warning
    - Dust Storm Warning
    - Avalanche Warning
    - Ice Storm Warning
    - Hurricane Warning
    - Blizzard Warning
    - Tornado Warning
    - Tornado Watch

################################################################################################################################

SkyDescribe:
  Enable: false
  APIKey:

################################################################################################################################

AlertScript:
  # Completely enable/disable AlertScript
  Enable: false
  Mappings:
  # Define the mapping of alerts to either DTMF commands or bash scripts here.
  # Wildcards (*) can be used in the ALERTS for broader matches.
  # Examples:
  #
  # This entry will execute the bash command 'asterisk -rx "rpt fun 1999 *123*456*789"'
  # when the alerts "Tornado Warning" AND "Tornado Watch" are detected.
  #
  # - Type: DTMF
  #   Nodes:
  #     - 1999
  #   Commands:
  #     - '*123*456*789'
  #   Triggers: 
  #     - Tornado Warning
  #     - Tornado Watch
  #   Match: ALL
  #
  # This entry will execute the bash command '/home/repeater/testscript.sh'
  # and the bash command '/home/repeater/saytime.sh' when an alert whose
  # title ends with "Statement" is detected.
  #
  # - Type: BASH
  #   Commands:
  #     - '/home/repeater/testscript.sh'
  #     - '/home/repeater/saytime.sh'
  #   Triggers: 
  #     - '*Statement'
  #
  # This entry will execute the bash command 'asterisk -rx "rpt fun 1998 *123*456*789"'
  # and the bash command 'asterisk -rx "rpt fun 1999 *123*456*789"' when an alert
  # titled "Tornado Warning" OR "Tornado Watch" is detected.
  #
  # - Type: DTMF
  #   Nodes:
  #     - 1998
  #     - 1999
  #   Commands:
  #     - '*123*456*789'
  #   Triggers: 
  #     - Tornado Warning
  #     - Tornado Watch
  #
  # This entry will execute the bash command 'asterisk -rx "rpt fun 1999 *123*456*789"'
  # and the bash command 'asterisk -rx "rpt fun 1999 *987*654*321"'
  # when an alert titled "Tornado Warning" OR "Tornado Watch" is detected.
  #
  # - Type: DTMF
  #   Nodes:
  #     - 1999
  #   Commands:
  #     - '*123*456*789'
  #     - '*987*654*321'
  #   Triggers: 
  #     - Tornado Warning
  #     - Tornado Watch
  #   Match: ANY
  #
    - Type: BASH
      Commands:
        - 'echo "Tornado Warning detected!"'
      Triggers: 
        - Tornado Warning

################################################################################################################################

Pushover:
  # Configuration for Pushover integration. Pushover is a free notification service. Register at https://pushover.net/.
  Enable: false
  # Provide your user key obtained from Pushover.
  UserKey:
  # Provide the API token obtained from Pushover.
  APIToken:
  # Enable verbose messaging
  Debug: false

################################################################################################################################

Logging:
  # Enable verbose logging
  Debug: true
  # Specify an alternative log file path. 
  # LogPath:

################################################################################################################################

DEV:
  # Delete cached data on startup
  CLEANSLATE: false
  # Specify the TMP directory. 
  TmpDir: C:\Users\Mason\Desktop\SWP_TMP
  # Enable test alert injection instead of calling the NWS API by setting 'INJECT' to 'True'.
  INJECT: false
  # List the test alerts to inject. Use a case-sensitive list. One alert per line.
  INJECTALERTS:
    - Tornado Warning
    - Tornado Watch
    - Severe Thunderstorm Warning